color:root {
    --accent-color-1: #1E3D42;
    --accent-color-2: #CD9199;
    --accent-color-3: #4C6f73;
    --accent-color-4: #c99420;
    --accent-color-5: #343759;
    --accent-color-6: #C89399;
    --accent-color-7: #8E6B6F;
    --accent-color-8: #;
}


header {
    font-family: 'poiret', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    color: #CD9199;
    border-radius: 30px;
    border-bottom: 1px solid #c99420;
    border-top: 1px solid #c99420;
    background-color: white;
}

header h1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: space-around;
    font-size: 10vw;
    margin-right: 10px;
    border-bottom: 0px;
    /* border-radius: 5px; */
    line-height: 10vw;
}

navbar {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    /* background-color:#ffffff; */
    padding: 15px;
    border-radius: 25px;
    border-bottom: 1px dotted;
    /* border: solid 1px; */
    justify-content: flex-end;
}

.nav-search-bar {
    text-align: right;
    font-family: 'century gothic', Arial, Helvetica, sans-serif;
    color: #4c6f73;
    font-size: 2vw;
}

.form, #movie-title-input {
    font-family:'Arial Narrow', Arial, sans-serif;
    border: 1px solid #c99420;
    border-radius: 5px;
    line-height: 3vw;
}
.button, #submit-button {
    color: #4C6f73;
    font-family: 'century gothic', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    border-radius: 15px;
    font-size: 1.75vw;
    line-height: 2vw;
    margin: 1pt;
}

.movie-title-input {
    display: flex;
    align-self: flex-end;
}

body {
    background-color:white;
    font-family: 'poiret',Arial, Helvetica, sans-serif;
    color: #4c6f73;
}

#results-header {
    font-family: 'artographie', Arial, Helvetica, sans-serif;
    color: #4c6f73;
    padding: 10px;
    border-bottom: 1px dashed #c99420;   font-size: 1em;
}

.return-results {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(160px, lfr));
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    margin: 10px;
    /* align-items: space-evenly;
    flex: 1 1 calc(33.33% - 20px); */
}

.return-results .box {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax (160px, lfr));
    margin: 0px;
    align-items: space-evenly;
}

.card {
   margin: 0;
   display:inline-block;

}

.card-image, #poster {
    margin: 0px;

}

.column {
    margin:20px;
    width: 100%;
}

.auto-col {
    width: fit-content
}

.column-title {
    font-family: 'poiret';
    text-align: center;
    border: dotted 1px #C89399;
    border-radius: 25px;
    padding: 5px;
}

.card-content, #details-card {
    text-align: center;
    font-family: 'poiret', Arial, Helvetica, sans-serif;
    font-size: smaller;
    border-radius: 5px;
    align-items: center;
}

.clickText {
    text-decoration-line: underline;
    /* text-decoration-style: dotted var(--accent-color-4) 1px; */
}

.clickText:hover {
    font-size: larger;
}

.track-list, #track-list {
    /* background-color: #C89399; */
    line-height: 2;
    border: dotted 1px #c99420;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.details-text {
    text-align: center;
    font-family: 'artographie','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.track-image {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    
}

/* these are here for troubleshooting purposes */
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}

.padding {
    padding: 10px;
}

.pink {
    background-color: hotpink;
}

.missing-movie-poster-placeholder {
    max-height: auto;
}