

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}

.padding {
    padding: 10px;
}

.pink {
    background-color: hotpink;
}

.columns {
    display:flex;
    flex-direction: column;
}

.page-heading h3 {
    font-family: 'poiret', Arial, Helvetica, sans-serif;
}

.columns {
    margin: 10px;
    justify-content: center;
}

.embedded-video {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px;
}

.track-info-container h4 {
    margin-bottom: 10px;
    text-align: center;
}

.ytp-error-content {
    margin: 5 px;
    justify-content: center;
}