color:root {
    --accent-color-1: #1E3D42;
    --accent-color-2: #CD9199;
    --accent-color-3: #4C6f73;
    --accent-color-4: #c99420;
    --accent-color-5: #343759;
    --accent-color-6: #C89399;
    --accent-color-7: #8E6B6F;
    --accent-color-8: #;
}


header {
    font-family: 'poiret', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    color: #CD9199;
    border-radius: 25px;
    border: 1px solid #c99420;
    background-color: white;
}

header h1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: space-around;
    font-size: 14vw;
    margin-right: 10px;
    border-bottom: 0px;
    border-radius: 5px;
    line-height: 25vw;
}

navbar {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color:#ffffff;
    padding: 15px;
    border-radius: 25px;
    border: solid 1px;
    justify-content: flex-end;
}

.nav-search-bar {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #4c6f73;
    font-size: 3.5vw;
}

.movie-title-input {
    display: flex;
    align-self: flex-end;
}

button.submit-button {
    border:#4C6f73 solid 1px;
    border-radius: 3px;
}

.strong {
    font-family: 'poiret',Arial, Helvetica, sans-serif;
    color: #4c6f73;
    font-weight: bolder;
    background-color: white;
}

.submit-button:active {
    border: #4C6f73 3px solid;
}

body {
    background-color:white;
    font-family: 'poiret',Arial, Helvetica, sans-serif;
    color: #4c6f73;
}

.results-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #4c6f73;
    padding: 10px;
    border-bottom: 1px dashed #c99420;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px ;
    font-size: 3vw;
    background-color: white;
}

.movie-list {
    border-radius: var(--accent-color-4) 5px solid;
    font-family: 'artographie', Arial, Helvetica, sans-serif;
    color:var(--accent-color-3);
    
}

.result-img {
    border-radius: 20px;
}

.card-wrapper {
    width: 20vw;
}

#results-card {
    /* display: inline; */
}

.card-image {
    /* padding: 10px; */
    /* margin: 10px; */
    height: auto;
    width: 100%;
}

.card-wrapper {
    display: inline-block;

}

/* .moviePosterCard {
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 20%;
} */

.ul {
    display: flex;
    flex: nowrap;
    flex-direction: row;
    align-content: center;
}

.movie-list {
    
    padding: 10px;
    margin: 10px;
    height: 10%;
    width: auto;
}

.card-content, #details-card {
    padding: 4pt;
    margin:0;
    background-color:white;
    text-align: center;
    font-family: 'poiret', Arial, Helvetica, sans-serif;
}

.card-content > h4 {
    font-size: small;
}

.card-content > h5 {
    font-size: smaller;
}

#movie-poster {
    border: 1px solid;
    /* width: 20%; */
    height: auto;
    border-radius: 5px;
    /* display: flex;
    flex-direction: row; */
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}

.padding {
    padding: 10px;
}

.pink {
    background-color: hotpink;
}

.missing-movie-poster-placeholder {
    background-color: yellow;
    height: 300px;
    width: 200px;
}