main {
    text-align: center;
}

.is-fixed-top, .container {
    display: none;
}

color:root {
    --accent-color-1: #1E3D42;
    --accent-color-2: #CD9199;
    --accent-color-3: #4C6f73;
    --accent-color-4: #c99420;
    --accent-color-5: #343759;
    --accent-color-6: #C89399;
    --accent-color-7: #8E6B6F;
    --accent-color-8: #;
}


header {
    font-family: 'poiret', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    color: #CD9199;
    border-radius: 30px;
    border-bottom: 1px solid #c99420;
    border-top: 1px solid #c99420;
    background-color: white;
}

header h1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: space-around;
    font-size: 10vw;
    margin-right: 10px;
    border-bottom: 0px;
    /* border-radius: 5px; */
    line-height: 10vw;
}

navbar {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    /* background-color:#ffffff; */
    padding: 15px;
    border-radius: 25px;
    border-bottom: 1px dotted;
    /* border: solid 1px; */
    justify-content: flex-end;
}

.nav-search-bar {
    text-align: right;
    color: #4c6f73;
    font-size: auto;
}


.movie-title-input {
    display: flex;
    align-self: flex-end;
}

.nav-search-bar {
    text-align: right;
    font-family: 'century gothic', Arial, Helvetica, sans-serif;
    color: #4c6f73;
    font-size: 2vw;
}

.form, #movie-title-input {
    font-family:'Arial Narrow', Arial, sans-serif;
    border: 1px solid #c99420;
    border-radius: 5px;
    line-height: 3vw;
}
.button, #submit-button {
    color: #4C6f73;
    font-family: 'century gothic', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    border-radius: 15px;
    font-size: 1.75vw;
    line-height: 2vw;
    margin: 1pt;
}

.movie-title-input {
    display: flex;
    align-self: flex-end;
}


body {
    background-color:white;
    font-family: 'poiret',Arial, Helvetica, sans-serif;
    color: #4c6f73;
}


#results-header {
    font-family: 'artographie', Arial, Helvetica, sans-serif;
    color: #4c6f73;
    padding: 10px;
    border-bottom: 1px dashed #c99420;   font-size: 1em;
}

.return-results {
    /* display: grid; */
    margin: 10px;
}

.return-results .box {
    display: flex;
    margin: 10px;
    align-items: space-evenly;
}

.card, #wrap {
   margin: 10px;
}

.card-content {
    text-align: center;
    /* font-family: 'poiret', Arial, Helvetica, sans-serif; */
    font-size: smaller;
    border-radius: 5px;
    align-items: center;
    /* overflow-wrap: break-word; */
} 

/* these are here for troubleshooting purposes */
/* .red {
    background-color: red;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}

.padding {
    padding: 10px;
}

.pink {
    background-color: hotpink;
}

.image-placeholder {
    display: inline-flex;
    max-height: auto;
} */